
@media screen and (max-width: 400px) {
	header{
		 
		float:none;
		height:auto;
		border-right: none;
		display: block;
		text-align: center;
	
		
	}
}
@media screen and (max-width: 400px) {
	.flex-container {
		padding-left: 0px;
	}
	
@media screen and (max-width: 400px) {
.flex-menu {
  background: none;
  padding: 0 px;
  width: 50 px;
  height: 50 px;
  margin-top: 20 px;
  font-size: 10 px;
  overflow: hidden;
  text-align: center;
padding: 2px 10px;
}
}
@media screen and (max-width: 400px) {
.flex-container-paragrafo > div {
 justify-content: center;
 color: white;
 text-align: justify-content;
 list-style: none;
 font-family: century gothic;
 margin: 30px;
 padding: 20px 20px;
 border-radius: 50px;
 font-size: 10 px;
 
  }
}
@media screen and (max-width: 400px) {
.centered {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:  century gothic ;
  font-size: 10px;

}
}
@media screen and (max-width: 400px) {
.posizione {
	 position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}
@media screen and (max-width: 400px) {
  .fa {
  padding: 5px;
  font-size: 10px;
  width: 30px;
 float: center;
text-decoration: none;
  margin: 5px 2px;
  display: block;
 
  margin-right: auto;
}
}

@media screen and (max-width: 400px) {
.btn {
	padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
padding-left: 5px;
margin-left: 12px;
}
}
@media screen and (max-width: 400px) {
.btn:active {

  background-color: #008080;
 
}
}}

	
	@media screen and (max-width: 400px) {
		h4 {
			margin-left: 12px;
		}
	}

@media screen and (max-width: 400px) {
	.container {
margin-bottom: 95px;
margin-top: 70px;
}
}

@media screen and (max-width: 400px) {
.posizione{
	padding-bottom: 5px;
}
}